header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    float: right;
    right: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    list-style-type: none;
    opacity: 1.0;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #1d1d1d;
}
html{
    background-image: url("images/blue.jpg");
}
.divider {
    border-left:1px solid white;
    border-right:1px solid black;
    height:80px;
    position:absolute;
    right:165px;
    top:10px;
}
h1 {
    padding: 2px 70px;
    font-family: "Apple Symbols";
    color: #5fb6ff;
    font-size: 40px;
}
p {
    padding: 2px 70px;
    font-family: "Apple Symbols";
    color: #9559a9;
}